# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

exports/*
!exports/.gitkeep

# Test and coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db